@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.HEading-container{
	background: #F0F3F4;
}

#HEading{
	font-family: Crimson Text, Bahnschrift;
	font-size: 4em;
	padding: auto;
	color: #F4D03F;
}

.active{

	background: #ECF0F1;
	color: #000000;
}

#copyrights{
	font-size: 10px;
}
/* ------------- Custom ScrollBar ---------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D5DBDB; 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D, #F7DC6F, #F8C471, #E59866, #EC7063);*/
  background:  linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D);
}

/* -------------  MEDIA QUERIES ----------------*/

@media screen and (min-width: 768px){

#HEading{
	font-size: 8em;
}

#copyrights{
	font-size: 18px;
}

}